{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Web Checkup</h1>
                <p>How much healthy is your website?</p>
            </div>

            <div id="content">
                <p>
                    {{ form_start(form, {'attr': {'id': 'form_webcheckup'}}) }}
                        {{ form_errors(form) }}
                        {{ form_widget(form.website, { 'attr': {'class': 'form-control'} }) }}
                        <p class="help-block">Insert your website's URL here.</p>
                        {{ form_widget(form.checkup, { 'attr': {'class': 'btn btn-default'} }) }}
                    {{ form_end(form) }}
                </p>
            </div>

            <div id="footer">
                <p>&copy; 2015 Studio Aqua, all rights reserved.</p>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/nprogress/nprogress.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aquawebcheckup/js/main.js') }}"></script>
{% endblock %}
