{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Web Checkup</h1>
                <p>How much healthy is your website?</p>
            </div>

            <div id="content">
                <p>
                    Insert your website's URL

                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_widget(form) }}
                    {{ form_end(form) }}
                </p>
            </div>

            <div id="footer">
                <p>&copy; 2015 Studio Aqua, all rights reserved.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('bundles/aquawebcheckup/css/main.css') }}" />
{% endblock %}
